.container {
  display: grid;
  grid-auto-columns: min-content;
  grid-template-areas: "a a a";
  grid-gap: 10px;
  margin-top: 5em;
  margin-left: 11%;
  min-height: 80px;
}

@media screen and (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3em;
  }
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
  }
}
