.container {
  background-color: rgba(0, 0, 0, 0.808);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 2em;
  padding: 2em;
  align-items: center;
  border-radius: 10px;
  color: rgb(253, 216, 2);
  min-height: 40vh;
}

.boton {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.377);
  color: rgb(253, 216, 2);
  border: transparent;
  padding: 0.75em;
  margin-bottom: 0.5em;
}
.boton:hover {
  background-color: rgb(253, 216, 2, 0.6);
  color: black;
  border: 5px, solid, black;
  cursor: pointer;
}

.textoError {
  font-size: 10px;
}

.inputError {
  border-radius: 5px;
  background-color: rgb(253, 216, 2, 0.6);
  border: 0px;
  padding: 5px;
  color: rgb(136, 6, 6);
}

.input {
  border-radius: 5px;
  background-color: rgb(253, 216, 2, 0.6);
  border: 0px;
  padding: 5px;
}
