.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;

  background-image: url("./fondo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom right;
}
