.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.801);
  padding: 1em;
  width: 80%;
  margin: auto;
  margin-top: 2em;
  border-radius: 10px;
  min-height: 20vh;
}

.containerBotones {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.containerSearchBar {
  display: flex;
  align-items: center;
}

.boton {
  padding: 1em;
  font-size: 1.2em;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(253, 216, 2);
  text-decoration: underline;
  text-decoration-line: none;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.active {
  padding: 1em;
  font-size: 1.2em;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(131, 112, 5);
  text-decoration-line: none;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.searchBar {
  justify-self: flex-end;
  align-self: center;
}

.botonLogout {
  padding: 1em;
  font-size: 1.2em;
  font-weight: bolder;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(253, 216, 2);
  text-decoration: underline;
  text-decoration-line: none;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.botonLogout:hover {
  cursor: pointer;
}
